@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style=" margin-top: 30px;">
    <h1 style=" color: #28b6e9;">Travelup</h1>
    <p class="lead">ASP.NET MVC web applications using HTML, CSS, and JavaScript are built with CRUD operations through a web API</p>
    <p><a href="~/User/Index" class="btn btn-primary btn-lg">Click here to Add &raquo;</a></p>
</div>

